.products {
    width: 80vw;
    margin: auto;
    padding-bottom: 150px;
  }
  
  .products__header h1 {
    font-family: "Poppins", sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #557028;;
    font-size: 4rem;
    margin: 2rem 0rem;
  }
  
  .products__search input {
    display: block;
    margin: 0 auto 2rem;
    outline: 0;
    border: 1px solid #557028;
    border-radius: 20px;
    padding: 10px 20px;
    max-width: 600px;
    width: 100%;
  }
  
  .emptyResult {
    text-align: center;
    font-size: 20px;
    color: #aaa;
  }
  
  .searchHeader {
    margin-bottom: 10px;
  }
  
  .products__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
    column-gap: 40px;
    padding: 2rem 0 0 0;
  }
  
  @media screen and (max-width: 1500px) {
    .products__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media screen and (max-width: 900px) {
    .products__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 550px) {
    .products__list {
      grid-template-columns: 1fr;
    }
    .emptyResult {
      text-align: center;
      font-size: 12px;
      color: #aaa;
    }
    .products__header h1 {
      font-family: "Poppins", sans-serif;
      text-align: center;
      text-transform: uppercase;
      color: #557028;
      font-size: 1.5rem;
      margin: 2rem 0 1rem 0rem;
    }
  }